h1{
    padding: 10px;
    color: Black;
    text-align: center;
}

h2{
    color: Black;
    text-align: center;
    margin-top: -30px;
    font-size: medium;
    margin-bottom: 50px;
}

.searchBoxes{
    background-color: gainsboro;
    border-radius: 30px;
    border: solid 3px black;
    width: 500px;
    display: block;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.country{
    background-color:gainsboro;
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style-type: none;
    border: solid 3px black;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    justify-content: center;
} 


.regions{
    list-style-type:none;
    padding: 0;
}

img{
    width: 310px;
    margin-top: -20px;
    margin-left: -15px;
    margin-bottom: -40px;
}

html, body {
    height: 100%;
    animation: bgcolor infinite 20s;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

/*Animated background color*/ 
@keyframes bgcolor{
    0%{
        background: white;
    }
    20%{
        background: #16a085;
    }
    40%{
        background: #27ae60;
    }
    60%{
        background: #2980b9;
    }
    80%{
        background: #8e44ad;
    }
}