h1{
    padding: 10px;
    background-color: aquamarine;
    text-align: center;
}

.country{
    background-color:gainsboro;
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    list-style-type: none;
    border: solid 3px black;
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
}

.regions{
    list-style-type:none;
    padding: 0;
}

img{
    width: 310px;
    margin-top: -20px;
    margin-left: -15px;
    margin-bottom: -40px;
}